/JavaBasico/Semana1/Dia1/Ejercicio1/nbproject/
/JavaBasico/Semana1/Dia1/Ejercicio1/test/
/JavaBasico/Semana1/Dia1/Ejercicio1/manifest.mf
/JavaBasico/Semana1/Dia1/Ejercicio2/nbproject/
/JavaBasico/Semana1/Dia1/Ejercicio2/test/
/JavaBasico/Semana1/Dia1/Ejercicio2/manifest.mf
/JavaBasico/Semana1/Dia1/Ejercicio3/nbproject/
/JavaBasico/Semana1/Dia1/Ejercicio3/test/
/JavaBasico/Semana1/Dia1/Ejercicio3/manifest.mf
/JavaBasico/Semana1/Dia1/Ejercicio4/nbproject/
/JavaBasico/Semana1/Dia1/Ejercicio4/test/
/JavaBasico/Semana1/Dia1/Ejercicio4/manifest.mf
/JavaBasico/Semana1/Dia2/Ejercicio1/nbproject/
/JavaBasico/Semana1/Dia2/Ejercicio1/test/
/JavaBasico/Semana1/Dia2/Ejercicio1/manifest.mf
/JavaBasico/Semana1/Dia2/Ejercicio2/nbproject/
/JavaBasico/Semana1/Dia2/Ejercicio2/test/
/JavaBasico/Semana1/Dia2/Ejercicio2/manifest.mf
/JavaBasico/Semana1/Dia2/Ejercicio3/nbproject/
/JavaBasico/Semana1/Dia2/Ejercicio3/test/
/JavaBasico/Semana1/Dia2/Ejercicio3/manifest.mf
/JavaBasico/Semana1/Dia2/Ejercicio4/nbproject/
/JavaBasico/Semana1/Dia2/Ejercicio4/test/
/JavaBasico/Semana1/Dia2/Ejercicio4/manifest.mf
